html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

hr {
    margin: 2rem auto;
}

a {
    margin-right: 1rem;
}

.active {
    font-weight: bold;
    color: #61dafb;
}

li {
    margin: 1rem;
}
